@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {



  .App {
    text-align: center;
  }
  

  .scrollTop:hover {
    opacity: 1;
  }
  
  
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.5;
    }
  }



.page-1-homepage {
    width: 100%;
  }

.scrollTop {
  position: fixed;
  width: 40px;
  bottom: 20px;
  right: 20px;
  align-items: center;
  height: 20px;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;
}

.div-scroll-top {
text-align: right;
}


}